
* {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 4%, rgba(9,9,121,1) 51%, rgba(0,212,255,1) 100%);
}
button {
        width: 180px;
        height: 50px;
        border-radius: 10px;
        border: none;
        outline: none;
        transition: all 0.5s ease;
        font-weight: 600;
        &:hover {
            background: lightblue;
        }
    }

.grid {
    padding: 0;
    margin: 0;
    width: 400px;
    height: 600px;
    background: url('../images/moon-back.png');
    background-size: cover;
    position: relative;
    font-size: 200px;
    text-align: center;

    .doodler {
        width: 74px;
        height: 85px;
        background: url('../images/doodler-guy.png');
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
    }
    .platform {
        width: 85px;
        height: 15px;
        background: url('../images/platform.png');
        position: absolute;
    }
}

.start {
    display: flex;
    justify-content: center;
    width: 500px;
}

.change {
    display: flex;
    width: 500px;
    height: 600px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .change-character {
        padding-bottom: 10px; 
    }
}








    